
.news-cards{
    background-color: #DCEAF5;
    margin-top: 50px;
    padding: 100px 0;
}

.news-card1{
    width: 400px;
height: 507px;
background-color: #fff;
border-radius: 20px;
}
.newws{
margin: 96px 0 64px 0;
}
.card-parag{
    padding: 32px;
    h1{
        width: 336px;
height: 72px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
    }
    p{
        margin: 20px 0;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        width: 336px;
    }
    span{
        cursor: pointer;
        display: flex;
        gap: 10px;
        align-items: center;
        h5{
            color: #F58A07;
        }
    }
 
}
.arrow{
    color: #F58A07;
    font-size: 20px;
}

.news-card{
    display: flex;
    gap: 40px;
}